$black: #000000;
$font-size: 20px;
body{
	margin-left: 10px;
	margin-right: 10px;
.experiences{
	display: flex;
	justify-content: space-around;


}
.logements{
	display: flex;
	justify-content: space-around;
}
.destinations{
	display: flex;
	justify-content: space-around;
	a{
		text-decoration: none;
		color: $black;
	}

}
footer{
	border: grey solid 1px;
footer-top{
	display: flex;
	justify-content: space-around;
	
	a{
	text-decoration: none;
	color: grey;
	}
}
footer-bottom{
	display:flex;
	justify-content: space-around;
	padding-left: 10px;
	margin-bottom: 30px;
	margin-top:30px;
	
	a{
	text-decoration: none;	
	color: grey;
	}
}
}
}