$white: #FFFFFF;
$pink: #F08080;

.menuHaut{
	background-image: url('http://lorempicsum.com/nemo/1000/500/4');
	height : 500px;
    background-size: cover;

ul{

	float: right;
	text-align: right;

	
}
li{
	display: inline-block;
	padding: 30px;
	font-size: 20px;
}
a{
	list-align:none;

	color:$white;
	text-decoration:none;	
	
}

  }
.form{
			display: flex;
			padding-top: 50px;
			padding-bottom: 50px;
			justify-content: center;

  
		.ou{
			display: flex;
			outline: 2px solid grey;
			height: 4em;
			flex-direction: column;
		}

		.quand{
			display: flex;
			outline: 2px solid grey;
			height: 4em;
			flex-direction: column;
			padding-left: 10px;
		}
		.voyage{
			border:none;
			outline: 2px solid grey;
			height: 4em;
			flex-direction: column;
			padding-left: 10px;
			padding-right: 10px;
		}
		input{
			border:none;
			padding-left: 10px;

		}
		label{
			display: block;
			padding-top:10px;
			padding-left: 10px;
		}

		button{
			color: $white ;
			background-color:$pink;
			font-size: 5px solid;
		}

  }



  
